* {
    box-sizing: border-box;
    margin: 0 auto;
}

html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    color: white;
}

body {
    background-color: black;
    /* background-image: url(/Uploads/images/Background-images/full-bloom.png); */
    background-size: 8%;
    max-width: 1440px;
}

.introduction {
    display: flex;
    flex-direction: column;
}

.headline {
    padding: 24px;
    font-size: x-large;
}

.intro-image-text-container {
    padding: 24px;
    max-width: 600px;
}

.intro-image-container {
    max-width: 350px;
    height: 350px;
    background-image: url(/Uploads/images/profile-image/profile-picture.png);
    background-size: cover;
    border-radius: 10px;
}

.profile-image {
    object-fit: cover;
}

.intro-text-container {
    margin-top: 16px;
    padding: 4px;
    max-width: 350px;
    background-color: teal;
    border: solid 4px black;
    border-radius: 10px;
}

.intro-text {
    line-height: 16px;
}

.line-breaker {
    height: 8px;
    width: 100%;
    display: block;
}

.projects {
    display: grid;
    grid-template-columns: 1fr;
    margin: 0 auto;
}